body{
	background:url("img/indexbg.jpg") no-repeat center top scroll;
background-size: 100% auto;
padding-bottom: 50%;
}

.bd{
	color:#99ccff;
	font-family:arial;
	font-size: 25px;
	text-align: center;
}
.row{

}


footer{
	clear:both;
	font-family:arial;
	text-align: center;
	
}
